* {
	box-sizing: border-box;
}

body {
	width: 660px;
	margin: auto;
	background-color: #333;
	color: #fff;
	text-align: center;	
}

button {
	padding: 8px;
	font-size: 1em;
}

button:hover {
	cursor: pointer;
}

#header {
	width: 100%;
}

#header h1 {
	font-size: 3em;
	margin-top: 30px;
}

#choose {
	margin-top: 20px;
}

#choose button {
	width: 85px;
	margin: 15px 4px 20px 4px;
}

#battleground {
	margin: auto;
	height: 200px;
	font-size: 3em;
	text-align: center;
}

#battleground div {
	float: left;
    margin: 30px 0px 20px 70px;
}

#player {
	height: 125px;
	width: 125px;
}

#computer {
	height: 125px;
	width: 125px;
}

#vs {
	line-height: 125px;
	height: 125px;
	width: 125px;
}

#score table {
	margin: auto;
	margin-bottom: 15px;
}

table, th, td {
	border: 1px solid white;
	padding: 10px;
}

@media only screen and (max-width: 540px) {

	body {
		width: 320px; 
	}

	#header h1 {
		font-size: 2em;
	}

	#battleground {
		height: 150px;
	}

	#battleground div {
		margin: 25px 0px 20px 30px;
	}

	img {
		height: 65px;
	}

	#player {
		height: 65px;
		width: 65px;
	}

	#computer {
		height: 65px;
		width: 65px;
	}

	#vs {
		line-height: 65px;
		height: 65px;
		width: 65px;
	}

	#vs {
		font-size: .8em;
	}

	#choose button {
		width: 85px;
	}

}









