* {
	box-sizing: border-box;
}

body {
	width: 760px;
	margin: auto;
	background-color: #333;
	color: #fff;
	text-align: center;	

}

#header {
	width: 100%;
}

#header h1 {
	font-size: 3em;
	margin-top: 30px;
}

#choose {
	margin-top: 40px;
}

#choose button {
	margin-top: 5px;
	margin-bottom: 20px;
}

#battleground {
	margin: auto;
	font-size: 3em;
}

#battleground div {
	float: left;
    margin-right: 40px;
    margin-left: 80px;
    margin-top: 10px;
    line-height: 4;
}





