* {
	box-sizing: border-box;
}

body {
	width: 660px;
	margin: auto;
	background-color: #333;
	color: #fff;
	text-align: center;	
}

button {
	padding: 8px;
	font-size: 1em;
}

button:hover {
	cursor: pointer;
}

#header {
	width: 100%;
}

#header h1 {
	font-size: 3em;
	margin-top: 30px;
}

#choose {
	margin-top: 20px;
}

#choose button {
	margin: 15px 4px 20px 4px;
}

#battleground {
	margin: auto;
	height: 200px;
	font-size: 3em;
	text-align: center;
}

#battleground div {
	float: left;
    margin: 30px 0px 20px 85px;
}

#score table {
	margin: auto;
	margin-bottom: 15px;
}

table, th, td {
	border: 1px solid white;
	padding: 10px;
}

@media only screen and (max-width: 540px) {

	body {
		width: 420px; 
	}

	#header h1 {
		font-size: 2.2em;
	}

	#battleground {
		height: 170px;
	}

	#battleground div {
		margin: 25px 5px 20px 50px;
	}

	img {
		height: 75px;
	}


}









